@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Informatics Engineering</p>
<p>(3rd year, 1st semester)</p>

<p>The source code is available in <a href="http://github.com/askpt/ARQSI">Github</a></p>

