@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>André Silva:</strong>   <a href="mailto:1100859@isep.ipp.pt">1100859@isep.ipp.pt</a><br />
    <strong>João Carreira:</strong> <a href="mailto:1111168@isep.ipp.pt">1111168@isep.ipp.pt</a>
</address>